<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://img.icons8.com/cotton/64/000000/paypal--v2.png"></a>
                <div class="navbar-form navbar-left" role="search">
                    <form class="form-inline" asp-controller="Produto" asp-action="Procurar" method="get">
                        @Html.TextBox("stringProcurar",null,new {@class="site-search border-0 py-1",placeholder="Procurar"})
                        <button type="submit" class="search-button" ><img src="https://img.icons8.com/dusk/20/000000/search.png"></button>
                    </form>
                </div>
                <span>
                    @await Component.InvokeAsync("CarrinhoResumo")
                </span>
                <span>
                    @await Html.PartialAsync("_LoginPartial")       
                </span>
            </div>
        </nav>
        <!-- Toggle Categoria -->
        <div class="second-menu">
            <div class="container mt-0 mb-4 ">
                <div class="">
                    @await Component.InvokeAsync("MenuCategoria")
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row mt-4">
                <section class="col-md-3 mr-3">
                    <h4 class="mb-0">contatos</h4>
                    <p style="font-size: 14px; line-height: 19px;">Comércio eletrônico ou comércio eletrónico
                    e-commerce, comércio virtual ou venda não-presencial,
                    é um tipo de transação comercial feita especialmente através de 
                    um equipamento eletrônico, como, por exemplo, computadores, tablets e smartphones. </p>
                </section>
                <section class="col-md-3 text-center">
                    <h4>Redes Sociais</h4>
                    <span><img src="https://img.icons8.com/cute-clipart/40/000000/facebook.png"></span>
                    <span><img src="https://img.icons8.com/officel/40/000000/google-plus.png"></span>
                    <span><img src="https://img.icons8.com/dusk/50/000000/twitter.png"></span>
                    <span><img src="https://img.icons8.com/plasticine/60/000000/pinterest.png"></span>
                </section>
                <section class="col-md-3">
                    <a href="https://icons8.com/icon/47709/comprar">Comprar icon by Icons8</a>
                </section>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/indexCarrinho.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
