<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://img.icons8.com/cotton/64/000000/paypal--v2.png"></a>
                <div class="navbar-form navbar-left" role="search">
                    <form class="form-inline" asp-controller="Produto" asp-action="Procurar" method="get">
                        @Html.TextBox("stringProcurar",null,new {@class="site-search border-0 py-1"})
                        <button type="submit" class="btn btn-white" ><img src="https://img.icons8.com/cotton/20/000000/search--v2.png"></button>
                    </form>
                </div>
                <span>
                    @await Component.InvokeAsync("CarrinhoResumo")
                </span>
                <span>
                    @await Html.PartialAsync("_LoginPartial")       
                </span>
            </div>
        </nav>
        <!-- Toggle Categoria -->
        <div class="second-menu">
            <div class="container mt-0 mb-4 ">
                <div class="">
                    @await Component.InvokeAsync("MenuCategoria")
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - e_commerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        <a href="https://icons8.com/icon/47709/comprar">Comprar icon by Icons8</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/indexCarrinho.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
