@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> Sign

@if (Sign.IsSignedIn(User))
{
    <span>
        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>                    
    </span>
    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
        method="post" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else
{
        <span class="mr-3"><a class="text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a></span>
        <span class="mr-3"><a id="registerLink" class="text-white" asp-controller="Account" asp-action="Register">Registrar</a></span>
        <span><a id="loginLink" class="text-white" asp-controller="Account" asp-action="Login">Log in</a></span>
}