@model ScoredViewModel

<div>
    <img src="~/Imagem/empty-estrela.png" class="ratin-star">
    <img src="~/Imagem/empty-estrela.png" class="ratin-star">
    <img src="~/Imagem/empty-estrela.png" class="ratin-star">
    <img src="~/Imagem/empty-estrela.png" class="ratin-star">
    <img src="~/Imagem/empty-estrela.png" class="ratin-star">
</div>