@model ScoredViewModel

<div>
    <img src="~/Imagem/empty-estrela.png" class="star_@Model.ProdutoId">
    <img src="~/Imagem/empty-estrela.png" class="star_@Model.ProdutoId">
    <img src="~/Imagem/empty-estrela.png" class="star_@Model.ProdutoId">
    <img src="~/Imagem/empty-estrela.png" class="star_@Model.ProdutoId">
    <img src="~/Imagem/empty-estrela.png" class="star_@Model.ProdutoId">
</div>

