@model ProdutoViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">    
    @foreach(var produto in Model.Produtos){
        @await Html.PartialAsync("_ProdutosResumo",produto)
    }    
</div>
