@model IEnumerable<Produto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">    
    @foreach(var item in Model){
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5>
                        Nome : @item.Nome
                    </h5>
                    <p>
                        Preço : @item.Preco
                    </p>
                    <a class="btn btn-warning" asp-controller="Produto" asp-action="ExibirDetalhes" asp-route-ProdutoId="@item.ProdutoId">Detalhes</a>
                    <a class="btn btn-primary">+ Carrinho</a>                
                </div>
            </div>
        </div>
    }    
</div>
