@model ProdutoViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div>
    @foreach(var categoria in Model.Categorias){
        @await Html.PartialAsync("_CategoriaResumo",categoria)
    }
</div>


<div class="row">    
    @foreach(var produto in Model.Produtos){
        @await Html.PartialAsync("_ProdutosResumo",produto)
    }    
</div>
